body{
  background-color: antiquewhite;
}

.header{
  text-align: center;
}

.form{
  
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 50px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

#hogwarts {
  width: 50%;
  background-color: blueviolet;
  padding: 20px;
  
}

#voldemort {
  width: 50%;
  background-color: greenyellow;
  padding: 20px;
}

.card{
  border: solid 2px black;
  margin-bottom: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  width: 200px;
}
